extend ../layouts/main-layout.pug

block styles
block content
    main
        if errorMessage
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/login" method="POST")
            .form-control
                label(for="email") E-mail:
                input(type="text" name="email" id="email" value=errorMessage?oldInput.email:'')
                label(for="password") Password:
                input(type="password", name="password", id="password")
                input(type="hidden" name="_csrf" value=csrfToken)
            button.btn(type="submit") Login
        .centered
            a.btn(href="/reset") Reset Password
