extend ../layouts/main-layout.pug

block styles
block content
    main
        if errorMessage
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/reset" method="POST")
            .form-control
                label(for="email") E-mail:
                input(type="text", name="email", id="email")
                input(type="hidden" name="_csrf" value=csrfToken)
            button.btn(type="submit") reset password
