extend ../layouts/main-layout.pug

block content 
    if products.length > 0
        div.centered.cart__grid
            each product in products
                div.card.cart__details
                    h1.cart__title #{product.title} 
                    p (#{product.cartitem.quantity})
                    form(action="/cart-delete-item", method="POST")
                        button.btn(type="submit") REMOVE
                        input(type="hidden", name="productId", value= product.id)
    else
        h1 cart is empty...