extend ../layouts/main-layout.pug

block content
    div.centered.cart__grid
        if orders.length > 0
            each order in orders
                div.card.cart__details
                    h1.cart__title #{order._id} 
                    ul
                        each product in order.items
                            li (#{product.qnt}) #{product.title}
        else
            h1 no orders here... 