extend ../layouts/main-layout.pug

block content
    div.centered.cart__grid
        if orders.length > 0
            each order in orders
                div.card.order__details
                    h1.cart__title Order ##{order._id} 
                    ul
                        each product in order.products
                            li (#{product.qnt}) #{product.productData.title} - $#{product.productData.price}
        else
            h1 no orders here... 